# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# macOS
.DS_Store

# IDE
.idea/
.vscode/